{
  "parser": "babel-eslint",
  "extends": ["airbnb"],
  "env": {
    "browser": true,
    "node": true
  },
  "rules": {
    "arrow-parens": ["error", "as-needed"],
    "object-curly-newline": "off",
    "no-param-reassign": 0,
    "comma-dangle": 0,
    "consistent-return": 0,
    "import/extensions": false,
    "import/no-duplicates": false,
    "import/no-named-as-default-member": false,
    "import/no-named-as-default": false,
    "jsx-a11y/interactive-supports-focus": false,
    "jsx-a11y/click-events-have-key-events": false,
    "jsx-a11y/no-static-element-interactions": false,
    "jsx-a11y/no-noninteractive-element-interactions": false,
    "react/jsx-filename-extension": false,
    "react/jsx-one-expression-per-line": false,
    "react/jsx-closing-bracket-location": false,
    "react/prop-types": false,
    "jsx-a11y/label-has-for": false,
    "jsx-a11y/label-has-associated-control": false
  },
  "settings": {
    "import/resolver": {
      "alias": {
        "extensions": [".ts", ".js"]
      }
    }
  }
}
